<h1><a href="#">Model Intercomparison Study</a></h1>
<p>The <a href="https://sloan.org/grant-detail/10007">Model Intercomparison Project</a> seeks to compare the performance of four of the leading open-source power system planning models for identifying a least-cost transition path for the US power system under a range of scenarios, including complete decarbonization. <br />
<br />
The four modelling platforms are: Temoa (Carnegie Mellon University, NC State University and Sutubra Research), GenX (Princeton and MIT), SWITCH (University of Hawaii and Environmental Defense Fund) and USENSYS (Environmental Defense Fund).</p>
