<h1><a href="#">Model Intercomparison Study</a></h1>
<h2> <h2>
<p>The <a href="https://sloan.org/grant-detail/10007">Model Intercomparison Project</a> seeks to compare the performance of four of the leading open-source power system planning models for identifying a least-cost transition path for the US power system under a range of scenarios, including complete decarbonization. <br />
<br />
The four modelling platforms are: <b>Temoa</b> (Carnegie Mellon University, NC State University and Sutubra Research), <b>GenX</b> (Princeton and MIT), <b>SWITCH</b> (University of Hawaii and Environmental Defense Fund) and <b>USENSYS</b> (Environmental Defense Fund).</p>
