<h1><a href="#">Model Development</a></h1>
<h2>Temoa and the Open Energy Outlook<h2>
<p>I'm working with teams at Carnegie Mellon University and NC State University to advance the popular open-source energy system model <a href="https://temoacloud.com/">Temoa</a> and <a href="https://www.cmu.edu/energy/key-initiatives/open-energy-outlook/index.html">the Open Energy Outlook</a>. The OEO, which uses Temoa as the underlying modelling engine, <em>"aims examines U.S. energy futures to inform energy and climate policy efforts by applying the gold standards of policy-focused academic modeling, maximizing transparency, and building a networked community." </em>
<br />
<br />
<br />
</p>
