<h1>Model Development</h1>
<h2>Temoa and the Open Energy Outlook</h2>
<p>I'm working with teams at Carnegie Mellon University and NC State University to advance the popular open-source energy system model <a href="https://temoacloud.com/">Temoa</a> and a partner project, <a href="https://www.cmu.edu/energy/key-initiatives/open-energy-outlook/index.html">the Open Energy Outlook</a>. </p>
<br />
<p>My work largely focuses on continuously improving the Temoa energy system optimization model by applying the best practices from the fields of mathematical optimization and macro-energy systems. I also collaborate with team members to design, run, and analyze scenarios for the OEO, which <i>"examines U.S. energy futures to inform energy and climate policy efforts by applying the gold standards of policy-focused academic modeling." </i>
</p>
