<h1>who we are at Sutubra Research</h1>
<h2></h2>
<br />
<p>At Sutubra Research, we specialize in power system and integrated energy system modelling to support strategic decision-making. We work with clients across North America—including governments, utilities, and independent power producers—providing expertise in capacity expansion modelling, renewable energy integration, and integrated resource planning. Our solutions combine open modelling frameworks with deep industry knowledge to ensure informed decision-making in an evolving energy landscape.</p>
